.text{
    display:flex;
    flex-direction:column;
    background-color: darkslategrey;
}

.blue-book {
    width: 35vw;
    height: 85vh;

}

.honey-black {
    width: 35vw;
    height: 85vh;

}

.red-book {
    width: 35vw;
    height: 85vh;
}
